.cardHeader {
    background-color: tomato;
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    color: white;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    font: 300 0.7vmax "Roboto";
}

.cardHeader>p {
    margin: 10px;
}

.cardHeader>p:last-child {
    text-align: end;
}